<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-mail auth-icon"></i>
        </div>
        <form [formGroup]="resetForm" (ngSubmit)="resetFormSubmit()">
          <h3 class="mb-4">Reset Password</h3>
          <div class="form-group">
            <div class="input-group mb-3">
              <input
                id="email"
                class="form-control"
                placeholder="Email"
                name="email"
                type="email"
                formControlName="email"
                [ngClass]="
                  (resetForm.get('email').touched ||
                    resetForm.get('email').dirty) &&
                  resetForm.get('email').errors
                    ? 'is-invalid'
                    : ''
                "
                required
              />
              <div
                *ngIf="
                  resetForm.get('email').invalid &&
                  (resetForm.get('email').dirty ||
                    resetForm.get('email').touched)
                "
                class="invalid-feedback"
              >
                <div *ngIf="resetForm.get('email').errors.required">
                  This field is required
                </div>
                <div *ngIf="resetForm.get('email').invalid">Invalid Email</div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary shadow-2 mb-4">Reset Password</button>
        </form>
        <!-- <p class="mb-2 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']"> Signup</a></p> -->
        <p class="mb-0 text-muted">
          Already have an account?
          <a [routerLink]="['/auth/signin']"> Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>
